<aside class="sidebar" id="sidebar">
    <div class="sidebar-brand">
        {% if system_settings.logo %}
            <img src="{{ system_settings.logo.url }}" class="sidebar-logo-img" alt="Logo">
        {% else %}
            <div class="brand-logo">{{ system_settings.short_name|first }}</div>
        {% endif %}

        <div>
            <h2>{{ system_settings.short_name }}</h2>
            <p>{{ system_settings.institution_name }}</p>
        </div>
    </div>

    <nav class="sidebar-menu">
        <a href="{% url 'dashboard' %}" class="sidebar-link">Dashboard</a>

        {% if request.user.profile.role == "super_admin" %}
            <a href="{% url 'user_list' %}" class="sidebar-link">User Management</a>
        {% endif %}

        <a href="{% url 'member_list' %}" class="sidebar-link">Honourable Members</a>
        <a href="{% url 'constituency_list' %}" class="sidebar-link">Constituencies</a>
        <a href="{% url 'party_list' %}" class="sidebar-link">Political Parties</a>
        <a href="{% url 'committee_list' %}" class="sidebar-link">Committees</a>
        <a href="{% url 'bill_list' %}" class="sidebar-link">Bills</a>
        <a href="{% url 'motion_list' %}" class="sidebar-link">Motions</a>
        <a href="{% url 'resolution_list' %}" class="sidebar-link">Resolutions</a>
        <a href="{% url 'sitting_list' %}" class="sidebar-link">Plenary Sittings</a>
        <a href="{% url 'attendance_session_list' %}" class="sidebar-link">Attendance</a>
        <a href="{% url 'vote_session_list' %}" class="sidebar-link">E-Voting</a>
        <a href="{% url 'document_list' %}" class="sidebar-link">Documents</a>
        <a href="{% url 'official_list' %}" class="sidebar-link">Officials Gallery</a>
        <a href="{% url 'reports_dashboard' %}" class="sidebar-link">Reports</a>

        {% if request.user.profile.role == "super_admin" %}
            <a href="#" class="sidebar-link">Audit Logs</a>
            <a href="{% url 'system_settings' %}" class="sidebar-link">System Settings</a>
        {% endif %}

        <a href="{% url 'my_profile' %}" class="sidebar-link">My Profile</a>
    </nav>
</aside>