{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Change Password</h1>
        <p>Securely update your account password.</p>
    </div>

    <a href="{% url 'my_profile' %}" class="btn-white">Back to Profile</a>
</div>

<div class="form-card">
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-grid single">
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn-green-lg">Change Password</button>
    </form>
</div>

{% endblock %}